@import 'config';
@import 'menu';

* {
    box-sizing: border-box;
}

body {
    @include background($home-image);
    background: $primary-color;
    color: set-color-of-text($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Roboto','Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0em;
    line-height: 1.5;
}

.cn {
    letter-spacing: 0;
}

//Note - comments in css are started with "//"
//Headings
h1, h2, h3 {
    margin: 0;
    font-weight: 600;

    &.lg-heading {
        font-size: 4rem;
    }
    &.sm-heading {
        margin-bottom: 1rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5);
    }
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 3rem;
    height: 100%;
    min-height: calc(100vh - 60px);

    .icons {
        margin-top: 1rem;
        a {
            padding: 0.4rem;

            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }

    }
}

main#about {
    
    h1.lg-heading {
        padding-bottom: 2rem;

        //Add sticky to JS classlist
        &.sticky {
            @include easeOut;
            position: fixed;
            background: darken($primary-color, 5);
            padding-top: 2vh;
            padding-left: 3rem;
            padding-bottom: 1vh;
            left: 0;
            width: 100vw;
            top: 0px;
            font-size: 36px;
        }

        &.sticky + .about-info {
            margin-top: 20vh;
        }
    }
}

main#worktemp {
    h2.construction {
        text-align: center;
        margin-top: 30vh;
    }
}


.about-info {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    'bioimage bio bio bio bio bio'
    'edulab edulab edulab edulab edulab edulab'
    'edu1 edu1 edu1 edu2 edu2 edu2'
    '. . . edu2 edu2 edu2'
    'joblab joblab joblab joblab joblab joblab'
    'job1 job1 job2 job2 job3 job3'
    //'. job2 job2 job2 job2 .'
    //'. job3 job3 job3 job3 .'
    'skilllab skilllab skilllab skilllab skilllab skilllab'
    'skill skill skill pub pub pub';
    grid-template-columns: repeat(6, 1fr);


    .img-bio {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: $secondary-color 3px solid;
    }

    .bio {
        grid-area: bio;
        font-size: 1rem;
    }
    
    .cn {
        //font-family: "Microsoft JhengHei", Tahoma, Verdana, Arial, sans-serif;
        font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
    }

    .alignleft {
        float: left;
    }

    .alignright {
        float: right;
    }

    .lab {
        display: inline-block;
    }
    
    .edulab {
        grid-area: edulab;
        padding: 4vh 0;
         &> * {
            text-align: center;
        }
    }

    .joblab {
        grid-area: joblab;
        padding: 4vh 0;
        
        &> * {
            text-align: center;
        }
    }

    .skilllab {
        grid-area: skilllab;
        padding: 4vh 0;

        &> * {
            text-align: center;
        }
    }

    .job-1 {
        grid-area: job1;
    }
    .job-2 {
        grid-area: job2;
    }
    .job-3 {
        grid-area: job3;
    }

    .edu1 {
        grid-area: edu1;
    }

    .edu2 {
        grid-area: edu2;
    }

    .skill {
        grid-area: skill;
    }

    .pub {
        grid-area: pub;
        p {
            text-indent: -2rem;
            padding-left: 2rem;
            display: block;
        }
    }


    .job {
        background: lighten($primary-color, 5);
        padding: 0.5rem;
        //border-bottom: $secondary-color 2px solid;
        border-radius: 5px;

        &> * {
            pointer-events: none;
        }
    
        h6 {
            letter-spacing: 0.1em;
            display: inline;
        }
        br {
            padding-bottom: 2rem;
        }

        h4 {
            margin-top: 0;
            margin-bottom: 0.5rem;
        }
        p {
            margin-top: 0;
        }

        &.click {
            p.desc {
                letter-spacing: 0;
                display: block;
            }
        }


        // &.showJob {
        //     p.desc {
        //         display: block;
                
        //     }
        // }

        &:hover {
            color: $secondary-color;
            cursor: pointer;
            
            @include easeOut;
            border-bottom: $secondary-color 2px solid;

            p, ul {
                display: block;
                color: set-color-of-text($primary-color);
            }
        }
    }
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.7rem;

    img {
        width: 100%;
        border: 3px #fff solid;

        &:hover {
            opacity: 0.75;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}



//Contact styling.
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

    
    div {
        font-size: 2rem;
        border: 3px #fff solid;
        padding: 1.5rem 2.5rem;
        margin: auto 25vh 3rem;
        //margin-bottom: 3rem;
        text-align: center;
        @include easeOut;


        &:hover {
            padding: 0.5rem 1.5rem;
            background: $secondary-color;
            color: set-color-of-text($secondary-color);
            span {
                color: set-color-of-text($secondary-color);
            }
        }
    }
}





//Button Styling
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;

    &:hover {
        background: $secondary-color;
        color: set-color-of-text($secondary-color);
        @include easeOut;
    }
}

.btn-dark {
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;
}

.btn-light {
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;
}






#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-color-of-text($primary-color);
    height: 60px;
}

@import 'mobile';